<% content_for :title do %>Jenkins queue widget<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="jenkinsqueue" data-view="List" data-unordered="true" data-title="Build Queue" data-moreinfo="moreinfo"></div>
    </li>
   <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>


</div>
